In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
import wrangle_zillow as wg

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = wg.acquire()

In [4]:
df = wg.handle_missing_values(df, 0.5, 0.5)

In [5]:
wg.overview(df)

--- Shape: (43346, 34)

--- Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43346 entries, 1 to 52318
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            43346 non-null  int64
 1   parcelid                      43346 non-null  int64
 2   bathroomcnt                   43346 non-null  float64
 3   bedroomcnt                    43346 non-null  float64
 4   buildingqualitytypeid         32934 non-null  float64
 5   calculatedbathnbr             43337 non-null  float64
 6   calculatedfinishedsquarefeet  43346 non-null  float64
 7   finishedsquarefeet12          43338 non-null  float64
 8   fips                          43346 non-null  float64
 9   fullbathcnt                   43337 non-null  float64
 10  heatingorsystemtypeid         33561 non-null  float64
 11  latitude                      43346 non-null  float64
 12  longitude                     43346 non-null  float64
 13  lotsizesquarefeet             43084 non-null  float64
 14  propertycountylandusecode     43346 non-null  object
 15  propertylandusetypeid         43346 non-null  float64
 16  propertyzoningdesc            32983 non-null  object
 17  rawcensustractandblock        43346 non-null  float64
 18  regionidcity                  42800 non-null  float64
 19  regionidcounty                43346 non-null  float64
 20  regionidzip                   43342 non-null  float64
 21  roomcnt                       43346 non-null  float64
 22  unitcnt                       33019 non-null  float64
 23  yearbuilt                     43327 non-null  float64
 24  structuretaxvaluedollarcnt    43307 non-null  float64
 25  taxvaluedollarcnt             43346 non-null  float64
 26  assessmentyear                43346 non-null  float64
 27  landtaxvaluedollarcnt         43346 non-null  float64
 28  taxamount                     43344 non-null  float64
 29  censustractandblock           43304 non-null  float64
 30  logerror                      43346 non-null  float64
 31  transactiondate               43346 non-null  object
 32  heatingorsystemdesc           33561 non-null  object
 33  propertylandusedesc           43346 non-null  object
dtypes: float64(27), int64(2), object(5)
memory usage: 11.6+ MB

--- Column Descriptions
                  id      parcelid   bathroomcnt    bedroomcnt  \
count   4.334600e+04  4.334600e+04  43346.000000  43346.000000
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean    1.497939e+06  1.274048e+07      2.302554      3.308840
std     8.607141e+05  2.537240e+06      1.043841      0.937652
min     3.490000e+02  1.071186e+07      0.000000      0.000000
25%     7.574682e+05  1.131822e+07      2.000000      3.000000
50%     1.500634e+06  1.227170e+07      2.000000      3.000000
75%     2.245456e+06  1.306932e+07      3.000000      4.000000
max     2.982167e+06  1.676367e+08     18.000000     14.000000

        buildingqualitytypeid  calculatedbathnbr  \
count            32934.000000       43337.000000
unique                    NaN                NaN
top                       NaN                NaN
freq                      NaN                NaN
mean                 6.293466           2.303032
std                  1.710757           1.043422
min                  1.000000           1.000000
25%                  5.000000           2.000000
50%                  6.000000           2.000000
75%                  8.000000           3.000000
max                 12.000000          18.000000

        calculatedfinishedsquarefeet  finishedsquarefeet12          fips  \
count                   43346.000000          43338.000000  43346.000000
unique                           NaN                   NaN           NaN
top                              NaN                   NaN           NaN
freq                             NaN                   NaN           NaN
mean                     1929.966248           1929.869237   6047.402805
std                      1031.625850           1031.630746     22.439640
min                       152.000000            152.000000   6037.000000
25%                      1263.000000           1263.000000   6037.000000
50%                      1653.000000           1653.000000   6037.000000
75%                      2305.000000           2305.000000   6037.000000
max                     21929.000000          21929.000000   6111.000000

         fullbathcnt  ...  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
count   43337.000000  ...                4.330700e+04       4.334600e+04
unique           NaN  ...                         NaN                NaN
top              NaN  ...                         NaN                NaN
freq             NaN  ...                         NaN                NaN
mean        2.253755  ...                1.991791e+05       5.272409e+05
std         1.022008  ...                2.616104e+05       7.834896e+05
min         1.000000  ...                1.810000e+02       1.000000e+03
25%         2.000000  ...                8.109000e+04       1.891480e+05
50%         2.000000  ...                1.352200e+05       3.629755e+05
75%         3.000000  ...                2.241680e+05       6.033130e+05
max        18.000000  ...                9.164901e+06       4.906124e+07

        assessmentyear  landtaxvaluedollarcnt      taxamount  \
count          43346.0           4.334600e+04   43344.000000
unique             NaN                    NaN            NaN
top                NaN                    NaN            NaN
freq               NaN                    NaN            NaN
mean            2016.0           3.282411e+05    6463.699979
std                0.0           5.943922e+05    9148.665227
min             2016.0           1.610000e+02      49.180000
25%             2016.0           6.915400e+04    2637.255000
50%             2016.0           2.070215e+05    4579.825000
75%             2016.0           3.928922e+05    7271.850000
max             2016.0           4.895220e+07  586639.300000

        censustractandblock      logerror  transactiondate  \
count          4.330400e+04  43346.000000            43346
unique                  NaN           NaN              253
top                     NaN           NaN       2017-06-30
freq                    NaN           NaN              686
mean           6.048733e+13      0.015958              NaN
std            2.042748e+12      0.171160              NaN
min            6.037101e+13     -4.655420              NaN
25%            6.037295e+13     -0.026467              NaN
50%            6.037551e+13      0.006346              NaN
75%            6.037920e+13      0.040787              NaN
max            4.830301e+14      5.262999              NaN

        heatingorsystemdesc        propertylandusedesc
count                 33561                      43346
unique                    8                          1
top                 Central  Single Family Residential
freq                  20575                      43346
mean                    NaN                        NaN
std                     NaN                        NaN
min                     NaN                        NaN
25%                     NaN                        NaN
50%                     NaN                        NaN
75%                     NaN                        NaN
max                     NaN                        NaN

[11 rows x 34 columns]

In [ ]:

sns.boxplot(data=df, x='fips', y='logerror')
plt.show()

In [ ]:
def train_validate_test_split(df, test_size=.2, validate_size=.3, random_state=99):
    '''
    This function takes in a dataframe, then splits that dataframe into three separate samples
    called train, test, and validate, for use in machine learning modeling.
    Three dataframes are returned in the following order: train, test, validate. 
    
    The function also prints the size of each sample.
    '''
    # split the dataframe into train and test
    train, test = train_test_split(df, test_size=.2, random_state=99)
    # further split the train dataframe into train and validate
    train, validate = train_test_split(train, test_size=.3, random_state=99)
    # print the sample size of each resulting dataframe
    print(f'train\t n = {train.shape[0]}')
    print(f'test\t n = {test.shape[0]}')
    print(f'validate n = {validate.shape[0]}')

    return train, validate, test

In [ ]:
train, validate, test = train_validate_test_split(df)

In [ ]:
train_sample = train.sample(n=10000)

In [ ]:
import plotly as px

In [ ]:
# visualize
sns.boxplot(data=train, x='fips', y='logerror')
plt.show()