# Zillow

## Acquire and Summarize

### 1. Acquire data from the cloud database.

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [1]:
import os

import pandas as pd

import env

In [2]:
query = '''
    SELECT
        prop.*,
        predictions_2017.logerror,
        predictions_2017.transactiondate,
        air.airconditioningdesc,
        arch.architecturalstyledesc,
        build.buildingclassdesc,
        heat.heatingorsystemdesc,
        landuse.propertylandusedesc,
        story.storydesc,
        construct.typeconstructiondesc
    FROM properties_2017 prop
    JOIN (
        SELECT parcelid, MAX(transactiondate) AS max_transactiondate
        FROM predictions_2017
        GROUP BY parcelid
    ) pred USING(parcelid)
    JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                          AND pred.max_transactiondate = predictions_2017.transactiondate
    LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
    LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid)
    LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
    LEFT JOIN storytype story USING (storytypeid)
    LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid)
    WHERE prop.latitude IS NOT NULL
      AND prop.longitude IS NOT NULL
      AND transactiondate <= '2017-12-31'
      AND propertylandusedesc = "Single Family Residential"
'''

In [3]:
def acquire():
    if os.path.exists('zillow.csv'):
        df = pd.read_csv('zillow.csv')
    else:
        database = 'zillow'
        url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{database}'
        df = pd.read_sql(query, url)
        df.to_csv('zillow.csv', index=False)
    return df

In [4]:
df = acquire()
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,781532,12095076,1.0,NaN,NaN,3.0,4.0,NaN,9.0,3.0,...,6.037461e+13,-0.001011,2017-01-01,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN

### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [5]:
def overview(df):
    print('--- Shape: {}'.format(df.shape))
    print()
    print('--- Info')
    df.info()
    print()
    print('--- Column Descriptions')
    print(df.describe(include='all'))

In [6]:
overview(df)

--- Shape: (52319, 68)

--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52319 entries, 0 to 52318
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52319 non-null  int64
 1   parcelid                      52319 non-null  int64
 2   airconditioningtypeid         13615 non-null  float64
 3   architecturalstyletypeid      70 non-null     float64
 4   basementsqft                  47 non-null     float64
 5   bathroomcnt                   52319 non-null  float64
 6   bedroomcnt                    52319 non-null  float64
 7   buildingclasstypeid           0 non-null      float64
 8   buildingqualitytypeid         33654 non-null  float64
 9   calculatedbathnbr             52184 non-null  float64
 10  decktypeid                    389 non-null    float64
 11  finishedfloor1squarefeet      4371 non-null   float64
 12  calculatedfinishedsquarefeet  52238 non-null  float64
 13  finishedsquarefeet12          52073 non-null  float64
 14  finishedsquarefeet13          0 non-null      float64
 15  finishedsquarefeet15          0 non-null      float64
 16  finishedsquarefeet50          4371 non-null   float64
 17  finishedsquarefeet6           165 non-null    float64
 18  fips                          52319 non-null  float64
 19  fireplacecnt                  7233 non-null   float64
 20  fullbathcnt                   52184 non-null  float64
 21  garagecarcnt                  17984 non-null  float64
 22  garagetotalsqft               17984 non-null  float64
 23  hashottuborspa                1514 non-null   float64
 24  heatingorsystemtypeid         33849 non-null  float64
 25  latitude                      52319 non-null  float64
 26  longitude                     52319 non-null  float64
 27  lotsizesquarefeet             51953 non-null  float64
 28  poolcnt                       11077 non-null  float64
 29  poolsizesum                   865 non-null    float64
 30  pooltypeid10                  443 non-null    float64
 31  pooltypeid2                   1071 non-null   float64
 32  pooltypeid7                   9990 non-null   float64
 33  propertycountylandusecode     52319 non-null  object
 34  propertylandusetypeid         52319 non-null  float64
 35  propertyzoningdesc            33761 non-null  object
 36  rawcensustractandblock        52319 non-null  float64
 37  regionidcity                  51283 non-null  float64
 38  regionidcounty                52319 non-null  float64
 39  regionidneighborhood          18981 non-null  float64
 40  regionidzip                   52293 non-null  float64
 41  roomcnt                       52319 non-null  float64
 42  storytypeid                   47 non-null     float64
 43  threequarterbathnbr           6717 non-null   float64
 44  typeconstructiontypeid        76 non-null     float64
 45  unitcnt                       33761 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52205 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52237 non-null  float64
 52  taxvaluedollarcnt             52318 non-null  float64
 53  assessmentyear                52319 non-null  float64
 54  landtaxvaluedollarcnt         52318 non-null  float64
 55  taxamount                     52315 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52198 non-null  float64
 59  logerror                      52319 non-null  float64
 60  transactiondate               52319 non-null  object
 61  airconditioningdesc           13615 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      float64
 64  heatingorsystemdesc           33849 non-null  object
 65  propertylandusedesc           52319 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(2), object(10)
memory usage: 27.1+ MB

--- Column Descriptions
                  id      parcelid  airconditioningtypeid  \
count   5.231900e+04  5.231900e+04           13615.000000
unique           NaN           NaN                    NaN
top              NaN           NaN                    NaN
freq             NaN           NaN                    NaN
mean    1.496888e+06  1.299682e+07               2.439589
std     8.594310e+05  3.350951e+06               3.847925
min     3.490000e+02  1.071186e+07               1.000000
25%     7.575810e+05  1.151017e+07               1.000000
50%     1.500095e+06  1.257825e+07               1.000000
75%     2.241248e+06  1.413036e+07               1.000000
max     2.982270e+06  1.676878e+08              13.000000

        architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                   70.00000     47.000000  52319.000000  52319.000000
unique                       NaN           NaN           NaN           NaN
top                          NaN           NaN           NaN           NaN
freq                         NaN           NaN           NaN           NaN
mean                     7.10000    678.978723      2.300015      3.300770
std                      2.66567    711.825226      1.022816      0.947563
min                      2.00000     38.000000      0.000000      0.000000
25%                      7.00000    263.500000      2.000000      3.000000
50%                      7.00000    512.000000      2.000000      3.000000
75%                      7.00000    809.500000      3.000000      4.000000
max                     21.00000   3560.000000     18.000000     14.000000

        buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count                   0.0           33654.000000       52184.000000  ...
unique                  NaN                    NaN                NaN  ...
top                     NaN                    NaN                NaN  ...
freq                    NaN                    NaN                NaN  ...
mean                    NaN               6.264961           2.305276  ...
std                     NaN               1.716328           1.018076  ...
min                     NaN               1.000000           1.000000  ...
25%                     NaN               5.000000           2.000000  ...
50%                     NaN               6.000000           2.000000  ...
75%                     NaN               8.000000           3.000000  ...
max                     NaN              12.000000          18.000000  ...

        censustractandblock      logerror  transactiondate  \
count          5.219800e+04  52319.000000            52319
unique                  NaN           NaN              257
top                     NaN           NaN       2017-06-30
freq                    NaN           NaN              809
mean           6.050245e+13      0.018136              NaN
std            1.861145e+12      0.176904              NaN
min            6.037101e+13     -4.655420              NaN
25%            6.037401e+13     -0.024702              NaN
50%            6.037620e+13      0.006935              NaN
75%            6.059042e+13      0.040599              NaN
max            4.830301e+14      5.262999              NaN

        airconditioningdesc  architecturalstyledesc  buildingclassdesc  \
count                 13615                      70                0.0
unique                    4                       5                NaN
top                 Central            Contemporary                NaN
freq                  11873                      62                NaN
mean                    NaN                     NaN                NaN
std                     NaN                     NaN                NaN
min                     NaN                     NaN                NaN
25%                     NaN                     NaN                NaN
50%                     NaN                     NaN                NaN
75%                     NaN                     NaN                NaN
max                     NaN                     NaN                NaN

        heatingorsystemdesc        propertylandusedesc  storydesc  \
count                 33849                      52319         47
unique                    9                          1          1
top                 Central  Single Family Residential   Basement
freq                  20689                      52319         47
mean                    NaN                        NaN        NaN
std                     NaN                        NaN        NaN
min                     NaN                        NaN        NaN
25%                     NaN                        NaN        NaN
50%                     NaN                        NaN        NaN
75%                     NaN                        NaN        NaN
max                     NaN                        NaN        NaN

        typeconstructiondesc
count                     76
unique                     2
top                    Frame
freq                      75
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN

[11 rows x 68 columns]

### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where:

- each row is an atttribute name, 
- the first column is the number of rows with missing values for that attribute, 
- and the second column is percent of total rows that have missing values for that attribute. 


Run the function and document takeaways from this on how you want to handle missing values.

In [7]:
def nulls_by_columns(df):
    return pd.concat([
        df.isna().sum().rename('count'),
        df.isna().mean().rename('percent')
    ], axis=1)

In [8]:
def nulls_by_rows(df):
    return pd.concat([
        df.isna().sum(axis=1).rename('n_missing'),
        df.isna().mean(axis=1).rename('percent_missing'),
    ], axis=1).value_counts().sort_index()

In [15]:
nulls_by_columns(df)

                          count   percent
id                            0  0.000000
parcelid                      0  0.000000
airconditioningtypeid     38704  0.739769
architecturalstyletypeid  52249  0.998662
basementsqft              52272  0.999102
...                         ...       ...
buildingclassdesc         52319  1.000000
heatingorsystemdesc       18470  0.353027
propertylandusedesc           0  0.000000
storydesc                 52272  0.999102
typeconstructiondesc      52243  0.998547

[68 rows x 2 columns]

In [10]:
nulls_by_rows(df)

n_missing  percent_missing
23         0.338235               2
24         0.352941              12
25         0.367647              11
26         0.382353              30
27         0.397059             177
28         0.411765             390
29         0.426471            2527
30         0.441176            2199
31         0.455882            5989
32         0.470588            8885
33         0.485294           11967
34         0.500000           11157
35         0.514706            3469
36         0.529412            4138
37         0.544118            1020
38         0.558824             223
39         0.573529              29
40         0.588235              15
41         0.602941               6
42         0.617647               7
43         0.632353              10
44         0.647059              46
45         0.661765               6
46         0.676471               1
47         0.691176               1
48         0.705882               2
dtype: int64

## Prepare

### 1. Remove any properties that are likely to be something other than single unit properties. 

(e.g. no duplexes, no land/lot, ...). 

There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [16]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    n_required_column = round(df.shape[0] * prop_required_column)
    n_required_row = round(df.shape[1] * prop_required_row)
    df = df.dropna(axis=0, thresh=n_required_row)
    df = df.dropna(axis=1, thresh=n_required_column)
    return df

In [17]:
clean_df = handle_missing_values(df, prop_required_column=.5, prop_required_row=.5)
clean_df.head()

,id,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
1,1387261,17052889,1.0,2.0,NaN,1.0,1465.0,1465.0,6111.0,1.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,NaN,Single Family Residential
2,11677,14186244,2.0,3.0,NaN,2.0,1243.0,1243.0,6059.0,2.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,NaN,Single Family Residential
3,2288172,12177905,3.0,4.0,8.0,3.0,2376.0,2376.0,6037.0,3.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Central,Single Family Residential
4,781532,12095076,3.0,4.0,9.0,3.0,2962.0,2962.0,6037.0,3.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,Central,Single Family Residential
6,1246926,12790562,3.0,4.0,9.0,3.0,3039.0,3039.0,6037.0,3.0,...,177527.0,220583.0,2016.0,43056.0,3104.19,6.037500e+13,-0.040966,2017-01-02,Central,Single Family Residential

### 2. Create a function that will drop rows or columns based on the percent of values that are missing: 

handle_missing_values(df, prop_required_column, prop_required_row).


- The input:

    - A dataframe
    
    - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    
    - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
    

- The output:

    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.

- hint:
    
    - Look up the dropna documentation.

    - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

### 3. Encapsulate your work inside of functions in a wrangle_zillow.py module.